<app-car-head *ngIf="guys"></app-car-head>
<section *ngIf="guys">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-left">
      <label for="description">Description</label>
      <textarea id="description" name="description" [ngModel]="serviceToEdit.description" name="description"></textarea>
      <div>
        <button type="submit">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
    <span></span>
    <div class="form-right">
      <div class="group">
        <div class="icon-input">
          <i class="fas fa-calendar-alt"></i>
          <input id="date" name="date" type="date" [ngModel]="serviceToEdit.date" name="date" required>
        </div>
        <div class="icon-input">
          <i class="fas fa-tachometer-alt"></i>
          <input id="km" name="km" type="text" [ngModel]="serviceToEdit.km" name="km" required>
        </div>
      </div>
      <div>
        <div class="icon-input">
          <i class="fas fa-hand-holding-usd"></i>
          <input id="price" name="price" type="text" [ngModel]="serviceToEdit.price" name="price" required>
        </div>
      </div>
      <div>
        <div class="icon-input">
          <i class="far fa-image"></i>
          <input id="imgPath" name="imgPath" type="text" ngModel name="imgPath" required>
        </div>
      </div>
      <div>
        <div class="icon-input">
          <i class="far fa-user"></i>
          <select [(ngModel)]="selectedGuyName" name="guyName" id="guyName" required>
            <option *ngFor="let guy of guys;" [value]="guy.name">{{guy.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <img [src]="f.value.imgPath" alt="service-image">
</section>
