<app-car-head></app-car-head>
<h2>Add service</h2>
<section>
  <form>
    <div class="form-left">
      <label for="description">Description</label>
      <textarea id="description" name="description"></textarea>
      <div>
        <button type="submit">Save</button>
        <button type="button">Cancel</button>
      </div>
    </div>
    <span></span>
    <div class="form-right">
      <div class="group">
        <div class="icon-input">
          <i class="fas fa-calendar-alt"></i>
          <input id="km" name="km" type="text">
        </div>
        <div class="icon-input">
          <i class="fas fa-tachometer-alt"></i>
          <input id="date" name="date" type="text">
        </div>
      </div>
      <div>
        <div class="icon-input">
          <i class="fas fa-hand-holding-usd"></i>
          <input id="guy" name="guy" type="text">
        </div>
      </div>
      <div>
        <div class="icon-input">
          <i class="far fa-user"></i>
          <input id="imgUrl" name="imgUrl" type="text">
        </div>
      </div>
    </div>
  </form>
</section>
