$marginTop: 20px auto;
/* cool vs warm color theme */
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

@mixin borderBox {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@mixin buttonStyle {
  background-color: $navy-blue;
  border: 1px solid $warm-yellow;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  color: $warm-yellow;
  text-transform: uppercase;
  &:hover{
    color: $rusty-red;
    border-color: $rusty-red;
  }
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

@mixin flexCol {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inputSts {
  @include borderBox;
  font-size: 1.2em;
  border: none;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
}

section {
  width: 80%;
  margin: auto;
  form {
    width: 60%;
    margin: auto;
    @include flexCol;
    h2 {
      text-align: center;
      color: $warm-yellow;
    }
    label{
      color: $warm-yellow;
    }
    p{
      color: $warm-yellow;
    }
    .form-controls {
      display: flex;
      .left {
        width: 50%;
        margin-right: 10px;
        div{
          display: flex;
          @include flexCol;
          margin-top: 10px;
          input{
            @include inputSts;
            margin-top: 2px;
          }
        }
        img{
          height: 150px;
        }
      }
      .right {
        margin-left: 10px;
        width: 50%;
        margin-top: 10px;
        text-align: center;
        .insuranceNew{
          display: flex;
          div{
            input{
              @include inputSts;
              margin-top: 2px;
              width: 95%;
            }
            #newInsDate{
              padding: 12px 10px;
            }
            button{
              padding: 11px 20px;
            }
          }
        }
        .insurance{
          div{
            display: flex;
            margin-top: 4px;
          }
          input{
            @include inputSts;
            width: 95%;
          }
          button{
            padding: 11px 20px;
          }
        }
      }
    }
    button{
      @include buttonStyle;
    }
  }
}
