<section>
  <form>
    <h2>Add a car:</h2>
    <div>
      <label for="carName">Car name:</label>
      <input id="carName" type="text">
    </div>
    <div>
      <label for="carKm">Kilometers:</label>
      <input id="carKm" type="text">
    </div>
    <div>
      <label for="carImg">Car image:</label>
      <input id="carImg" type="text">
    </div>
    <div>
      <p>Preview</p>
      <img src="https://media.wired.com/photos/59bafdf204afdc5248726f5c/master/w_582,c_limit/BMW-TA.jpg"
           alt="car-image">
    </div>
    <div>
      <span>Insurances:</span>
      <div class="insurance">
        <div>
          <label for="insName">Name</label>
          <input id="insName" type="text">
        </div>
        <div>
          <label for="insDate">Date</label>
          <input id="insDate" type="text">
        </div>
      </div>
    </div>
    <button type="submit">Save car</button>
    <button type="button">Add insurance</button>
  </form>
</section>
