$nav-color: #3f51b5;
$bg-color: #607d8b;
$marginTop: 20px auto;

@mixin borderBox {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@mixin buttonStyle {
  background-color: $bg-color;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

section {
  text-align: center;
  width: 25%;
  margin: $marginTop;
  form {
    h2 {
      color: white;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
      label {
        color: white;
        margin-bottom: 5px;
      }
      input {
        @include borderBox;
        font-size: 1.2em;
        border: none;
        border-radius: 7px;
        padding: 10px;
        width: 100%;
      }
      .insurance {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        div {
          label {
            margin-right: 5px;
          }
        }
      }
      span {
        color: white;
      }
    }
    p{
      color: white;
      margin-bottom: 15px;
    }
    img {
      height: 300px;
      background: transparent no-repeat center;
      background-size: cover;
    }
    button {
      @include buttonStyle;
    }
    button:hover {
      background-color: $nav-color;
    }
  }
}
