/* cool vs warm color theme */
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $navy-blue;
  div {
    display: flex;
    align-items: center;
    i {
      color: $warm-yellow;
      font-size: 2em;
      margin-right: 10px;
    }
    a {
      color: $warm-yellow;
      font-size: 1.3em;
      text-decoration: none;
      &:hover{
        color: $rusty-red;
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 0 10px;
      a {
        text-decoration: none;
        color: $warm-yellow;
        &:hover{
          color: $rusty-red;
        }
      }
    }
  }
}
