<app-car-head></app-car-head>
<section>
  <div class="head">
    <h2>Service details</h2>
    <div>
      <button>Back</button>
      <button>Edit</button>
    </div>
  </div>
  <hr>
  <div>
    <h3>Description:</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit non quo sequi ut! Dignissimos, dolor eius fugit
      in neque quae!</p>
    <br>
    <h3>Price:</h3>
    <p>$15</p>
    <br>
    <h3>Guy:</h3>
    <p>Boreto</p>
    <br>
    <h3>Date completed:</h3>
    <p>15/07/2018</p>
    <br>
    <h3>Picture:</h3>
    <img src="https://support.joinhandshake.com/hc/article_attachments/115026121948/mceclip4.png" alt="picture">
  </div>
</section>

