<app-car-head></app-car-head>
<section>
  <div class="head">
    <h2>Service details</h2>
    <div>
      <button (click)="onGoBack()"><i class="fas fa-chevron-circle-left"></i></button>
      <button [routerLink]="['../../edit', serviceId]">Edit</button>
      <button (click)="onDeleteService()">Delete</button>
    </div>
  </div>
  <hr>
  <div>
    <h3>Description:</h3>
    <p>{{service.description}}</p>
    <br>
    <h3>Price:</h3>
    <p>{{service.price}}</p>
    <br>
    <h3>Guy:</h3>
    <p>{{service.guy.name}}</p>
    <br>
    <h3>Date completed:</h3>
    <p>{{service.date | date: 'longDate'}}</p>
    <br>
    <h3>Picture:</h3>
    <img [src]="service.imgPath" alt="picture">
  </div>
</section>

