$nav-color: #3f51b5;
$bg-color: #607d8b;

@mixin buttonStyle {
  background-color: $bg-color;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

section {
  margin-top: 50px;
  text-align: center;
  table {
    width: 70%;
    margin: auto;
    color: white;
    border-spacing: 0;
    border-collapse: collapse;
    th, td {
      width: 33.3333333%;
      a {
        text-decoration: none;
        color: white;
      }
    }
    th{
      background-color: $nav-color;
      font-size: 1.2em;
    }
    thead tr{
      height: 50px;
    }
    tr {
      height: 35px;
      position: relative;
      border-bottom: 1px solid grey;
    }
    tbody {
      .util{
        position: absolute;
        right: 0;
        top:5px;
        width: 110px;
        display: none;
        i{
          margin-right: 10px;
          &:hover{
            color: $nav-color;
            cursor: pointer;
          }
        }
      }
      tr:hover {
        box-shadow: 0 0 10px 2px #875a5a;
        .util{
          display: unset;
        }
      }
    }
    td {
      text-align: center;
    }
  }

  button {
    @include buttonStyle;
    margin-top: 25px;
  }

  button:hover {
    background-color: $nav-color;
  }
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: white;
}
