<section *ngIf="!(cars.length===0)">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars; let i = index">
      <td>{{car.name}}</td>
      <td>{{car.km}}</td>
      <td>{{car.driver}}</td>
      <div class="util">
        <i class="fas fa-eye" [routerLink]="['car', i, 'detail']"></i>
        <i class="fas fa-pencil-alt" [routerLink]="['car', i, 'edit']"></i>
        <i class="fas fa-trash" (click)="onDeleteCar(i)"></i>
      </div>
    </tr>
  </table>
  <button routerLink="car/add">Add car</button>
</section>
