/* cool vs warm color theme */
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

@mixin buttonStyle {
  background-color: $navy-blue;
  border: 1px solid $warm-yellow;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  color: $warm-yellow;
  text-transform: uppercase;
  &:hover{
    color: $rusty-red;
    border-color: $rusty-red;
  }
}

section {
  margin-top: 50px;
  text-align: center;
  table {
    width: 70%;
    margin: auto;
    color: white;
    border-spacing: 0;
    border-collapse: collapse;
    th, td {
      width: 33.3333333%;
      a {
        text-decoration: none;
        color: white;
      }
    }
    th{
      background-color: $gunmetal;
      font-size: 1.2em;
      color: $warm-yellow;
    }
    thead tr{
      height: 50px;
    }
    tr {
      height: 35px;
      position: relative;
      border-bottom: 1px solid $warm-yellow;
    }
    tbody {
      .util{
        position: absolute;
        right: 0;
        top:5px;
        width: 110px;
        display: none;
        i{
          margin-right: 10px;
          &:hover{
            color: $rusty-red;
            cursor: pointer;
          }
        }
      }
      tr:hover {
        box-shadow: 0 0 10px 2px $warm-yellow;
        color: $warm-yellow;
        .util{
          display: unset;
        }
      }
    }
    td {
      text-align: center;
    }
  }

  button {
    @include buttonStyle;
    margin-top: 25px;
  }
}

h2 {
  text-align: center;
  margin-top: 50px;
  color: white;
}
