<section>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Driver</th>
    </tr>
    </thead>
    <tbody>
    <tr routerLink="car/detail/1">
      <td>Your mom's BMW</td>
      <td>BMW</td>
      <td>Your mom</td>
    </tr>
    <tr routerLink="car/detail/2">
      <td>Your mom's BMW</td>
      <td>BMW</td>
      <td>Your mom</td>
    </tr>
    <tr routerLink="car/detail/3">
      <td>Your mom's BMW</td>
      <td>BMW</td>
      <td>Your mom</td>
    </tr>
  </table>
  <button routerLink="car/add">Add car</button>
</section>
