/* cool vs warm color theme */
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    margin-top: 25px;
    height: 150px;
    border-radius: 50%;
  }
  h2 {
    color: $warm-yellow;
    margin-top: 15px;
    &:hover {
      cursor: pointer;
      text-shadow: 0 0 5px $warm-yellow;
    }
  }
  fieldset {
    width: 25%;
    text-align: center;
    color: $warm-yellow;
    margin: 15px 0;
    border: none;
    border-top: 1px solid $warm-yellow;
  }
  .alert-text {
    color: $rusty-red;
    font-size: 1.2em;
  }
}
