/* cool vs warm color theme */
$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984B43;
$warm-yellow: #EAC67A;

@mixin verticalLine {
  height: 80%;
  border: 1px none $warm-yellow;
  border-left-style: solid;
  margin: 0 50px;
}

@mixin fieldsetUserHome {
  width: 30%;
  height: 80%;
  padding: 50px;
  border: 1px none $warm-yellow;
  border-top-style: solid;
  legend {
    color: white;
    font-size: 1.2em;
  }
}

@mixin buttonStyle {
  background-color: $navy-blue;
  border: 1px solid $warm-yellow;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
  color: $warm-yellow;
  text-transform: uppercase;
  &:hover{
    color: $rusty-red;
    border-color: $rusty-red;
  }
}



section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 350px;
  .controls{}
  fieldset.recent {
    @include fieldsetUserHome;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div.recent-items {
      color: white;
      margin: 10px;
      display: flex;
      justify-content: right;
      align-items: center;
      font-size: 1.2em;
      button {
        @include buttonStyle;
      }
      button:first-of-type{
        margin-right: 5px;
      }
    }
  }
  span {
    @include verticalLine;
  }
  fieldset.cards {
    @include fieldsetUserHome;
    display: flex;
    flex-wrap: wrap;
    .car-data {
      width: 180px;
      height: 70px;
      background-color: $gunmetal;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 15px 0;
      margin: 5px;
      position: relative;
      h3 {
        text-align: left;
        width: 80%;
        font-size: 1.5em;
        text-transform: lowercase;
        font-weight: lighter;
        color: $warm-yellow;
      }
      hr {
        color: $warm-yellow;
        width: 80%;
        border: 1px solid;
      }
      p {
        text-align: right;
        width: 80%;
        font-size: 1.5em;
        color: $warm-yellow;
        font-style: italic;
      }
      i{
        position: absolute;
        right: 15px;
        top: -5px;
        color: $warm-yellow;
        font-size: 1.3em;
      }
    }
    .alertDanger {
      background-color: $rusty-red;
    }
  }
}


