<app-car-head></app-car-head>
<section>
  <fieldset class="recent">
    <legend align="right">Recent services</legend>
    <div class="recent-items">
      <h4>Смяна агренаж</h4><span></span>
      <p>150000</p>
    </div>
    <div class="recent-items">
      <h4>Смяна масло</h4><span></span>
      <p>145000</p>
    </div>
    <div class="recent-items">
      <h4>Смяна гуми</h4><span></span>
      <p>130000</p>
    </div>
    <div class="recent-items">
      <h4>Смяна накладки</h4><span></span>
      <p>129000</p>
    </div>
    <div class="recent-items">
      <button routerLink="/car/id/services/add">Add service</button>
      <button routerLink="/car/id/services">View all</button>
    </div>
  </fieldset>
  <span></span>
  <fieldset class="cards">
    <legend>Status</legend>
    <div class="car-data">
      <h3>km</h3>
      <hr>
      <p>150000</p>
    </div>
    <div class="car-data">
      <h3>Каско</h3>
      <hr>
      <p>29/07/2018</p>
    </div>
    <div class="car-data">
      <h3>Гражданска</h3>
      <hr>
      <p>15/05/2020</p>
    </div>
    <div class="car-data">
      <h3>Винетка</h3>
      <hr>
      <p>29/02/2019</p>
    </div>
  </fieldset>
</section>
