<app-car-head [alerts]="alerts" [car]="car"></app-car-head>
<section>
  <fieldset class="recent">
    <legend align="right">Recent services</legend>
    <div class="recent-items" *ngFor="let service of services">
      <h4>{{service.description}}</h4><span></span>
      <p>{{service.km}}</p>
    </div>
    <div class="recent-items">
      <button [routerLink]="['/car',carId,'services','add']">Add service</button>
      <button [routerLink]="['/car',carId,'services']">View all</button>
    </div>
  </fieldset>
  <span></span>
  <fieldset class="cards">
    <legend>Status</legend>
    <div class="car-data">
      <h3>km</h3>
      <hr>
      <p>{{car.km}}</p>
    </div>
    <div class="car-data" [ngClass]="{alertDanger: alerts[i]}" *ngFor="let ins of car.insurances;let i = index;">
      <h3>{{ins.insName}}</h3>
      <hr>
      <p>{{ins.insDate | date: "mediumDate"}}</p>
      <i class="fas fa-exclamation-circle" *ngIf="alerts[i]"></i>
    </div>
  </fieldset>
</section>
