<app-car-head></app-car-head>
<section>
  <table>
    <thead>
    <tr>
      <th>No</th>
      <th>Description</th>
      <th>Data</th>
      <th>km</th>
      <th>Price</th>
      <th>Guy</th>
    </tr>
    </thead>
    <tbody>
    <tr routerLink="details/:serviceId">
      <td>2018072901</td>
      <td>Смяна на масло и всички филтри</td>
      <td>29/07/2018</td>
      <td>157 000</td>
      <td>180лв</td>
      <td>Борето</td>
    </tr>
    <tr routerLink="details/:serviceId">
      <td>2018072901</td>
      <td>Смяна на масло и всички филтри</td>
      <td>29/07/2018</td>
      <td>157 000</td>
      <td>180лв</td>
      <td>Борето</td>
    </tr>
    <tr routerLink="details/:serviceId">
      <td>2018072901</td>
      <td>Смяна на масло и всички филтри</td>
      <td>29/07/2018</td>
      <td>157 000</td>
      <td>180лв</td>
      <td>Борето</td>
    </tr>
    <tr routerLink="details/:serviceId">
      <td>2018072901</td>
      <td>Смяна на масло и всички филтри</td>
      <td>29/07/2018</td>
      <td>157 000</td>
      <td>180лв</td>
      <td>Борето</td>
    </tr>
    </tbody>
  </table>
  <button routerLink="add">Add service</button>
</section>
