<app-car-head></app-car-head>
<section>
  <h3 *ngIf="!showServs">There are no services added for this car!</h3>
  <table *ngIf="showServs">
    <thead>
    <tr>
      <th>No</th>
      <th>Description</th>
      <th>Date</th>
      <th>km</th>
      <th>Price</th>
      <th>Guy</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services;let i = index" [routerLink]="['details',i]">
      <td>{{i}}</td>
      <td>{{service.description}}</td>
      <td>{{service.date | date :"longDate"}}</td>
      <td>{{service.km}}</td>
      <td>{{service.price}}</td>
      <td>{{service.guy.name}}</td>
    </tr>
    </tbody>
  </table>
  <button routerLink="add">Add service</button>
  <button (click)="onGoBack()"><i class="fas fa-chevron-circle-left"></i></button>
</section>
